<a href="https://colab.research.google.com/github/anatolii-kandiuk/research_students_df/blob/main/research_df.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.read_csv('sample_data/StudentsPerformance.csv')
print(df.iloc[0:7])

   gender race/ethnicity  ... reading score writing score
0  female        group B  ...            72            74
1  female        group C  ...            90            88
2  female        group B  ...            95            93
3    male        group A  ...            57            44
4    male        group C  ...            78            75
5  female        group B  ...            83            78
6  female        group B  ...            95            92

[7 rows x 8 columns]

In [ ]:
df.shape

(1000, 8)

In [ ]:
df.size

8000

In [ ]:
(df['lunch'] != 'standard').mean()

0.355

In [ ]:
df.dtypes

gender                         object
race/ethnicity                 object
parental level of education    object
lunch                          object
test preparation course        object
math score                      int64
reading score                   int64
writing score                   int64
dtype: object

In [ ]:
df.loc[(df.lunch == 'standard'), ['reading score', 'math score', 'writing score']].mean()

reading score    71.654264
math score       70.034109
writing score    70.823256
dtype: float64

In [ ]:
df.loc[(df.lunch != 'standard'), ['reading score', 'math score', 'writing score']].mean()

reading score    64.653521
math score       58.921127
writing score    63.022535
dtype: float64

In [ ]:
df.loc[(df.lunch == 'standard'), ['reading score', 'math score', 'writing score']].var()

reading score    191.285560
math score       186.418089
writing score    205.620887
dtype: float64

In [ ]:
df.loc[(df.lunch != 'standard'), ['reading score', 'math score', 'writing score']].var()

reading score    221.871139
math score       229.824270
writing score    238.202881
dtype: float64

In [ ]:
df.head(1)

   gender race/ethnicity  ... reading score writing score
0  female        group B  ...            72            74

[1 rows x 8 columns]

In [ ]:
df = df.rename(columns={
    'gender':'gender',
    'race/ethnicity':'race_ethnicity',
    'parental level of education':'parental_level_of_education',
    'lunch':'lunch',
    'test preparation course':'test_preparation_course',
    'math score':'math_score',
    'reading score':'reading_score',
    'writing score':'writing_score'    

})
df

     gender race_ethnicity  ... reading_score writing_score
0    female        group B  ...            72            74
1    female        group C  ...            90            88
2    female        group B  ...            95            93
3      male        group A  ...            57            44
4      male        group C  ...            78            75
..      ...            ...  ...           ...           ...
995  female        group E  ...            99            95
996    male        group C  ...            55            55
997  female        group C  ...            71            65
998  female        group D  ...            78            77
999  female        group D  ...            86            86

[1000 rows x 8 columns]

In [16]:
math_score_max = 100
df.query('math_score == @math_score_max')

     gender race_ethnicity  ... reading_score writing_score
149    male        group E  ...           100            93
451  female        group E  ...            92            97
458  female        group E  ...           100           100
623    male        group A  ...            96            86
625    male        group D  ...            97            99
916    male        group E  ...           100           100
962  female        group E  ...           100           100

[7 rows x 8 columns]

In [24]:
df.filter(like='score').head(1)

   math_score  reading_score  writing_score
0          72             72             74